@import url('https://fonts.googleapis.com/css2?family=Acme&family=Salsa&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}

html {
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    font-weight: 300;
}

.aboutbox, .insightarticle , .historyarticle , .transportationarticle , .weatherarticle , .preparearticle , .child-containers, label, * {
  text-transform: none;
  font-variant: normal;
}

.aboutbox {
    background: #ffc87c;
    top: -35px;
    width: 90vw;
    height: 30rem;
    margin: 4rem auto;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    border-radius: 10px;
    overflow: auto;
    z-index: 1;
    scrollbar-width: thin; 
    scrollbar-color: #f9b682 #ffc87c; 
}

.insightarticle , .historyarticle , .transportationarticle , .weatherarticle , .preparearticle {
    color: #fff;

    position: absolute;
    left: calc(max(20%, 100px));
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 2rem 0;
    overflow: auto;
    transition: .7s;
    transform: scale(0);
    transform-origin: center right;
    transition-delay: .1s;
}
.insightarticle :before , .historyarticle :before , .transportationarticle :before , .weatherarticle :before , .preparearticle :before {
    color: rgba(57, 42, 42, 0.2);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.abouth2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: rgba(0,0,0,.6);
}
body > .abouth2 {height: auto;}
.abouth2 img {
    width: 90%;
    max-width: 25rem;
    height: 10%;
    display: block;
    margin: 1rem auto;
    margin-bottom: 25px;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
    border-radius: 10px;
}
.insightarticle p, .historyarticle p,.transportationarticle p, .weatherarticle p, .preparearticle p{
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(146, 60, 60);
    font-family: 'Salsa', serif;
}
.transportationarticle h4{
  margin-top: 15px;
  color: rgb(146, 60, 60);
  font-family: 'Salsa', serif;
  font-size: 20px;
}
.preparearticle h4{
  margin-top: 15px;
  color: rgb(146, 60, 60);
  font-family: 'Salsa', serif;
  font-size: 20px;
}
.transportationarticle bu{
  color: rgb(146, 60, 60);
  font-family: 'Salsa', serif;
  font-size: 16px;
}
.transportationarticle h3{
  margin-top: 20px;
  color: rgb(146, 60, 60);
  font-family: 'Salsa', serif;
  font-size: 25px;
}

.linkbutton{
  display: inline-block;
  padding: 3px 15px;
  font-size: 16px;
  background-color: #f3b45b;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.linkbutton:hover{
  transform: scale(1.05);
  background-color: #f59d23;
}

.AboutNav {
    background: #ffdeb0;
    width: 20%;
    min-width: 110px;
    height: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    border-radius: 10px;
}
.AboutNav:after {
    content:'';
    width: 100%;
    height: 20%;
    background: #ffc87c;
    position: absolute;
    transition: .5s;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    border-radius: 10px;
}

input.aboutinput{
    display: none;
}

label {
    width: 100%;
    height: 20%;
    float: none;
    font-family: "Acme", serif;
    color: rgb(146, 60, 60);
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    transition: 0.5s;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
label:hover {
  color: #ffffff;
  background-color: #efb86a;
  border-radius: 10px;
}
label:before {
    display: block;
    font-size: 10%;
    line-height: 4rem;
    z-index: 2;
}
#insightbutton:checked ~ .AboutNav [for='insightbutton'],
#historybutton:checked ~ .AboutNav [for='historybutton'],
#transportbutton:checked ~ .AboutNav [for='transportbutton'],
#weatherbutton:checked ~ .AboutNav [for='weatherbutton'],
#preparebutton:checked ~ .AboutNav [for='preparebutton'] {
    color: rgb(146, 60, 60);
    font-weight: 600;
}
#insightbutton:checked ~ .AboutNav:after {
    top: 0;
}
#historybutton:checked ~ .AboutNav:after {
    top:20%;
    border-top: 0 none;
}
#transportbutton:checked ~ .AboutNav:after {
    top: 40%;
}
#weatherbutton:checked ~ .AboutNav:after {
    top: 60%;
}
#preparebutton:checked ~ .AboutNav:after {
    top: 80%;
}

#insightbutton:checked ~ .insightarticle,
#historybutton:checked ~ .historyarticle,
#transportbutton:checked ~ .transportationarticle,
#weatherbutton:checked ~ .weatherarticle, 
#preparebutton:checked ~ .preparearticle{
    display: block;
    transform: scale(1);
    transition-delay: .5s; 
}
a {color: rgba(0,0,0,.4)}
a:hover {color: rgba(0,0,0,.2)}

body.AboutPenang{
    background-color: #e6e5c1 !important;
}

* {
    box-sizing: border-box;
    transition: all 0.2s;
  }
  
  body .flow{
    margin: 0px;
    overflow: hidden;
  }
  
  @keyframes move {
    from {
      transform: rotate(45deg) translate(-120px, 60px);
    }
    to {
      transform: rotate(45deg) translate(-120px, -290px);
    }
  }
  body .containers {
    margin: 0px;
    position: fixed;
    right: 20%;
    top: -10%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    animation: move 4.5s linear infinite alternate;
    z-index: 0;
  }  
  .containers .child-containers {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #ffffff00;
    text-align: center;
    overflow: hidden;
  }
  
  .child-containers img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity:0.7;
  }

  @media (max-width: 768px) {
    #root {
      width: 100%; /* Ensure full width for small screens */
      height: auto; /* Allow height to adjust based on content */
      min-width: 100%; /* Prevent fixed width from restricting layout */
    }
  }