@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

/* Fonts */
.pop-up-description * {
  font-family: "Patrick Hand", cursive !important; 
  color: #000000;
  text-transform: none;
}

.pop-up-details * {
  font-family: "Agbalumo", cursive !important;
  color: #000000;
}

/* Backdrop */
.pop-up-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
  animation: fadeIn 0.5s ease both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Pop-up Window */
.pop-up-window {
  background-color: #ffffff;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001;
  animation: fadeIn 0.5s ease both;
}

/* Close Button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  filter: grayscale(1);
  cursor: pointer;
  z-index: 10;
}

.closeButton:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  border-color: rgba(255, 255, 255, 1);
}

/* Pop-up Content */
.pop-up-content {
  display: flex;
  flex-direction: column;
}

.pop-up-top {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.pop-up-image {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
}

.pop-up-details {
  margin-left: 20px;
  text-align: left;
  flex: 1;
}

.pop-up-details p {
  margin: 5px 0;
}

/* Description */
.pop-up-description {
  margin-top: 20px;
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .pop-up-window {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .pop-up-window {
    width: 95%;
  }

  .pop-up-image {
    width: 100px;
    height: 100px;
  }

  .pop-up-details p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .pop-up-window {
    width: 100%;
    padding: 15px;
  }

  .pop-up-image {
    width: 80px;
    height: 80px;
  }

  .pop-up-details p {
    font-size: 12px;
  }
}
